body {
    background: #F3F5FC;
    margin: 40px 0 0 40px;
}

.retangulo {
    position: absolute;
    width: 400px;
    height: 944px;
    left: 70%;
    top: 40px;
    
    /* White */
    
    background: #FFFFFF;
    /* shadow */
    
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.logo {
    position:absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}

.encrypt {
    position: absolute;
    width: 680px;
    height: 48px;
    left:  100px;
    top: 108px;
}

textarea {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    border: none;
    background: none;
    /* identical to box height, or 48px */

    outline: none;
    /* Dark blue/dark-blue-300 */

    color: #0A3871;
    overflow: auto;
}
.botao {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    
    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 885px;

}
.atencao {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    
    position: absolute;
    width: 252px;
    height: 18px;
    left: 240px;
    top: 851px;
}

.atencao, p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */


    /* Gray/gray-400 */

    color: black;

    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 8px;

}

.btncrypto {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;

    position: static;
    width: 328px;
    height: 67px;
    left: 0px;
    top: 0px;

    /* Dark blue/dark-blue-300 */

    background: #0A3871;
    border-radius: 24px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    /* White */

    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 0px 8px;
}
.btndescrypto {
    /* Button */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;

    position: static;
    width: 328px;
    height: 67px;
    left: 352px;
    top: 0px;

    /* Light gray */

    background: #D8DFE8;
    /* Dark blue/dark-blue-300 */

    border: 1px solid #0A3871;
    box-sizing: border-box;
    border-radius: 24px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    /* Dark blue/dark-blue-300 */

    color: #0A3871;
    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 0px 8px;
}

.logo-git {
    margin-top: 1000px;
    margin-left: 80%;
    width: 40px;
}